* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppings", sans-serif;
}
body {
    background-color: #f7f9fd;
}
.container {
    width: 90vw;
    max-width: 62.5em;
    border: 1px solid black;
    position: relative;
    margin: auto;
}
.add-flashcard {
    display: flex;
    justify-content: flex-end;
    padding: 1.2em 1em;
}
button {
    border: none;
    outline: none;
    cursor: pointer;
}
.add-flashcard button {
    font-size: 1em;
    background-color:black;
    color: #ffffff;
    padding: 0.8em 1.2em;
    font-weight: 200;
    border-radius: 0.5em;
}
#card-con{
    border: 1px solid black;
    margin-top: 1em;
}
.question-container {
    width: 90vw;
    max-width: 35em;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 2em 2em;
    border-radius: 1.5em;
    box-shadow: 0 1em 2em rgba(20,0,80,0.2);
}
.question-container h2 {
    font-size: 2.0em;
    color: #363d55;
    font-weight: 700;
    text-align: center;
    margin-bottom: 0.5em;
}
.wrapper {
    display: grid;
    grid-template-columns: 10fr 0fr;
    gap:  1em;
    margin-bottom: 1em;
}
.error-con {
    align-items: center;
}
#error {
    color: #ff5353;
    font-weight: 200;
}
