* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #f7f9fd;
}
.container {
  width: 90vw;
  max-width: 62.5em;
  border: 1px solid transparent;
  position: relative;
  margin: auto;
}
.add-flashcard-con {
  display: flex;
  justify-content: flex-end;
  padding: 1.2em 1em;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
}
.add-flashcard-con button {
  font-size: 1em;
  background-color:#0c4812ad;
  color: #ffffff;
  padding: 0.8em 1.2em;
  font-weight: 200;
  border-radius: 0.5em;
}
#card-con {
  border: 1px solid transparent;
  margin-top: 1em;
}
.question-container {
  width: 90vw;
  max-width: 35em;
  border: 1px solid #0c4812ad;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 2em 2em;
  border-radius: 0.2em;
  box-shadow: 0 1em 2em rgba(5, 66, 26, 0.684);
}
.question-container h2 {
  font-size: 2.0em;
  color: #0c4812ad;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0.5em;
}
.wrapper {
  display: grid;
  grid-template-columns: 10fr 0fr;
  gap: 1em;
  margin-bottom: 1em;
}
.error-con {
  align-items: center;
}
#error {
  color: #ff5353;
  font-weight: 200;
}
.fa-xmark {
  font-size: 1.2em;
  background-color: #0c4812ad;
  height: 2.0em;
  width: 2.0em;
  display: grid;
  place-items: center;
  color: #ffffff;
  border-radius: 30%;
  cursor: pointer;
  justify-self: flex-end;
}
label {
  color: #0c4812ad;
  font-weight: 700;
  margin-bottom: 0.2em;
}
textarea {
  width: 100%;
  padding: 0.8em 1em;
  border: 1px solid #d0d0d0;
  outline: none;
  color: #0c4812ad;
  border-radius: 0.3em;
  resize: none;
}
textarea:not(:last-child) {
  margin-bottom: 1.5em;
}
textarea:focus {
  border-color: #0c4812ad;
}
#save-btn {
  font-size: 1em;
  background-color: #0c4812ad;
  color: #ffffff;
  padding: 0.6em 0;
  border-radius: 0.3em;
  font-weight: 600;
}
.card-list-container {
  max-width: 900px;
  display: grid;
  padding: 0.2em;
  gap: 1.5em;
  grid-template-columns: 1fr 1fr 1fr;
}
.card {
  background-color: #ffffff;
  box-shadow: 0 0.4em 1.2em rgba(28, 0, 80, 0.08);
  padding: 1.2em;
  border-radius: 0.4em;
}
.question-div{
  text-align: justify;
}
.answer-div {
  text-align: justify;
}
.question-div {
  margin-bottom: 0.5em;
  font-weight: 500;
  color: #0c4812ad;
}
.answer-div {
  margin-top: 1em;
  font-weight: 400;
  color: #0c4812ad;
}
.show-hide-btn {
  display: block;
  background-color: #0c4812ad;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  padding: 0.6em 0;
  border-radius: 0.3em;
}
.buttons-con {
  display: flex;
  justify-content: flex-end;
}
.edit,.delete {
  background-color: transparent;
  padding: 0.5em;
  font-size: 1.2em;
}
.edit {
  color: #0c4812ad;
}
.delete {
  color: #ff5353;
}
.hide {
  display: none;
}
.footer {
  position: fixed;
  left: 10px;
  bottom: 0;
  width: auto;
  text-align: center;
  padding: 10px 0;
  background-color: #0c4812ad;
  color: #ffffff; 
  font-size: 1em; 
  font-weight: bold; 
  z-index: 10; /* Über dem Hintergrund */
}
.image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
}
.intro-text {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.8rem; 
  color: #fff; 
  z-index: 10; 
  background: #0c4812ad;
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
}
@media screen and (max-width: 800px) {
  .card-list-container {
    grid-template-columns: 1fr 1fr;
    gap: 0.8em;
  }
}
@media screen and (max-width: 450px) {
  body {
    font-size: 14px;
  }
  .card-list-container {
    grid-template-columns: 1fr;
    gap: 1.2em;
  }
}