* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppings", sans-serif;
}
body {
    background-color: #f7f9fd;
}
.container {
    width: 90vw;
    max-width: 62.5em;
    border: 1px solid black;
    position: relative;
    margin: auto;
}
.add-flashcard {
    display: flex;
    justify-content: flex-end;
    padding: 1.2em 1em;
}
